*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(./shara\ desert.jpg);
    background-repeat: no-repeat;
    
    
}
.logo{
    position: absolute;
    flex: auto;
    height: 2px;    
}


.container{
    grid-row: inherit;
    color: black;
    text-decoration: dashed;
    margin-top: 10vw;
    margin-left: 10vw;
    
}
#heading{
    width: 22vw;
    height: auto;
    text-align: center;
    position: absolute;
    left: 10vw;

}
#p{
    color:blue;
    font-size: large;
}
.flex{
    display: flex;
    float: right;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
    
}
/* about Boxes */
.box{
    width:35vw;
    height: 35vw;
    position: fixed;
    padding: 2vw;
    top: 6vw;
    left: 60vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.box1{
    height: 13vw;
    width: 12vw;
    margin: 1.5vw;
    padding: 1vw;
    border-radius: 2vw;
    transition: 0.5s;
}
.box1:hover{
    transform: scale(1.2, 1.2);
}

    

.box1a{
    background-image: url(pic-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box1b{
    background-image: url(pic-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box1c{
    background-image: url(pic-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box1d{
    background-image: url(pic-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h3{
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    margin-top: -0.5vw;

}
.p1{
    font-size: 0.7vw;
    margin-top: -0.5vw;
    color: rgba(255, 255, 255, 0.943);
}
        
    

h1{
    padding:10px;
    font-size: 6vw;
    color:orangered;
    text-shadow: 5px 5px 5px whitesmoke;
    font-family: vardana;

}
.text{
    width: 50vw;
    height: auto;
    position: absolute;
    bottom: 12vw;
    top: 20vw;
    left: 10vw;
    line-height: 2.5vw;
}
.p2{
    font-size: 1.5vw;
    color: orangered;
    text-shadow: 2px 2px 2px whitesmoke;
}
button{
    position: absolute;
    top: 38vw;
    left: 10vw;
    border: none;
    height: 2.5vw;
    width: 11vw;
    border-radius: 2vw;
    font-size: 1.4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:active{
    background-color: rgb(0, 0, 0);
}
button:hover{
    color: rgb(26, 29, 199);
}
.img1{
    border-radius: 5px;
    width: 15vw;
    position: absolute;
    top: 3vw;
    left: 10vw;
    
}
img{
    cursor: pointer;
}
/* Navigation Bar */
.navbar{
    width: 50vw;
    height: 3vw;
    position: absolute;
    top: 2vw;
    left: 60vw;
 
}
ul{
    float: left;
    align-items: center;
    display: flex;
    justify-content:center;
}
ul li{
    float: left;
    list-style: none;
    margin-left: 5vw;
    font-size: 1.2vw;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-family: arial;
    transition: 0.3s ease-in-out;
    }
    ul li a:hover{
        color: rgb(37, 18, 207);
    }

#li1{
    transition: 0.5s;
}
#li1:hover{
    transform: scale(1.2,1.2);

}
#li2{
    transition: 0.5s;
}
#li2:hover{
    transform: scale(1.2,1.2);
    
}
#li3{
    transition: 0.5s;
}
#li3:hover{
    transform: scale(1.2,1.2);


}

.img2{
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 1.5vw;
    right: 4vw;
}

#p3{
    padding-top: 20px;
    color: white;
}


@media screen and (max-width: 600px)
{
    html{
        height: 100%;
        width: 100%;
    }
    body{
        background-image: url(./shara\ desert.jpg);
        background-attachment: fixed;
        background-size: cover;
        overflow: scroll;
    
    }
    .navbar{
        width: 50vw;
        height: 3vw;
        position: relative;
        top: 1vw;
        left: 0vw;
    }
    ul{
        float: left;
        align-items: center;
        display: flex;
        justify-content:center;
    }
    ul li{
        float: left;
        list-style: none;
        margin-left: 10vw;
        font-size: 3.5vw;
    }
    ul li a{
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
        font-family: arial;
        transition: 0.3s ease-in-out;
    }
    ul li a:hover{
        color: rgb(37, 18, 207);

    }
    #li1{
        transition: 0.5s;
    }
    #li1:hover{
        transform: scale(1.2,1.2);
    
    }
    #li2{
        transition: 0.5s;
    }
    #li2:hover{
        transform: scale(1.2,1.2);
        
    }
    #li3{
        transition: 0.5s;
    }
    #li3:hover{
        transform: scale(1.2,1.2);
    
    
    }
    
    .imgx{
        width: 5.2vw;
        height: 5vw;
        position: absolute;
        top: 1.5vw;
        bottom: 1.5vw;
        left: 0vw;
    }
    .img1{
        width: 40vw;
        position: absolute;
        top: 25vw;
        bottom: 25vw;
        left: 10vw;
    }
    img{
        cursor: pointer;
    }
    
    
    h1{
        font-size: 12vw;
        color: orangered;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .text{
        width: 85vw;
        height: auto;
        position: absolute;
        bottom: 12vw;
        top: 80vw;
        left: 10vw;
        line-height: 3vw;
    }
    .p2{
        font-size: 2.7vw;
        color: orangered;
    }
    #p3{
        font-size: 1.8vw;
        color: orangered;
    }
    button{
        position: absolute;
        top: 102vw;
        left: 10vw;
        border: none;
        height: 4vw;
        width: 20vw;
        border-radius: 2vw;
        font-size: 2vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    button:active{
        background-color: rgb(0, 0, 0);
    }
    .box{
        width:auto;
        height:auto;
        padding: 2vw;
        position:relative;
        top: 120vw;
        left: 0;
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
    .box1{
        height: 40vw;
        width: 70vw;
        margin-bottom: 8vw;
        padding: 1vw;
        border-radius: 2vw;
        transition: 0.5s;
        display: block;
    }
    .box1:hover{
        transform: scale(1.2, 1.2);
    }
    
        
    
    .box1a{
        background-image: url(pic-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1b{
        background-image: url(pic-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1c{
        background-image: url(pic-3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1d{
        background-image: url(pic-4.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h3{
        font-size: 1.5vw;
        color: rgb(255, 255, 255);
        margin-top: -0.5vw;
    
    }
    #p3{

        color:white;
    }
    
}

